{% extends "layout.html" %}
{% block title %}Espais simples{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h1>Llistat d'espais simples</h1>
        <p>Aquesta és la primera operació que has de fer. Els espais simples són les mínimes unitats d'espai 
        que poden reservar-se independentment. Posteriorment es podran crear espais compostos de més d'espais 
        simples, i més endavant encara esdeveniments que combinin espais.</p>

<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>observacions</th>
        </tr>
    </thead>
    <tbody>       
{% for dict_item in lista_es %}
        <tr data-id="{{ dict_item['_id'] }}">
          <td>{{ dict_item['id'] }}</td>
          <td>{{ dict_item['nom'] }}</td>
          <td contenteditable="true">{{ dict_item['observacions'] }}</td>
        </tr>
{% endfor %}    
    </tbody>
</table>         

    </div>
</div>

{% endblock %}